Flask
requests
PyPDF2
pdf2docx
docx2pdf
python-docx
pdfminer.six
sentence-transformers
scikit-learn
groq
python-dotenv
streamlit
tqdm
numpy
scipy
torch
typing_extensions
opencv-python-headless
pymupdf
pillow
fsspec
pyyaml
regex
safetensors
tokenizers
huggingface-hub
joblib
cryptography
anyio
httpx
